{% extends "layouts/main.html" %} {% block pageTitle %} Start page template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %} {{
govukBreadcrumbs({ items: [ { text: "Home", href: "#" }, { text: "Section",
href: "#" }, { text: "Subsection" } ] }) }} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

    <p>Use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Check to see if you are eligible for winter fuel payments</li>
    </ul>

    {{ govukButton({ text: "Start now", href: "", isStartButton: true }) }}

    <h2 class="govuk-heading-m">Before you start</h2>

    <p>
      You can also
      <a
        href="https://www.gov.uk/winter-fuel-payment#:~:text=The%20Winter%20Fuel%20Payment%20for,payments%20will%20be%20made%20automatically."
        >check the full guidance for winter fuel payments</a
      >.
    </p>

    <p>
      The online service is also
      <a href="https://www.gov.uk/taliad-tanwydd-gaeaf"
        >available in Welsh (ar gael yn Gymraeg)</a
      >.
    </p>

    <p>You can’t register for this service if you’re in the UK illegally.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside
      class="govuk-prototype-kit-common-templates-related-items"
      role="complementary"
    >
      <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://www.gov.uk/cold-weather-payment">
              Cold Weather Payment</a
            >
          </li>
          <li>
            <a href="https://www.gov.uk/pension-credit"> Pension Credit </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
