{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Question One</h1>

    <form class="form" action="/Question2" method="post">
      <p>
       
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Were you born before 21 September 1959?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="age" name="age" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="age">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="age-2" name="age-2" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="age-2">
                  No
                </label>
            
            </div>
          </fieldset>
        </div>
      </p>

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>

{% endblock %}
